# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
._dist
._.gitignore
._vite.config.ts
._src
._README.md
._package.json
._package-lock.json
._node_modules
._.git
._.prettierrc

# Ignore macOS AppleDouble/resource fork files
._*
